@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

/* Common */

.page {
  color: #333333;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;
}

.button {
  color: #FFFFFF;
  background-color: #83B3D3;

  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

.button-secondary {
  background-color: #756257;
}

/* Header */

.site-menu {
  color: #000000;

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
}

.site-menu-link {
  color: #000000;

  text-decoration: none;
}

/* Footer */
.footer-phone {
  color: #000000;

  font-size: 40px;
  line-height: 40px;
  text-decoration: none;
  text-transform: uppercase;
}

/* Main */
/* Section */
/* Forms */
/* Range */
/* Card */
/* Pagination */
/* Advantages */
/* Subscribe */
/* Filter */



/* .site-menu {
  color: #333333;

  font-family: "PT Sans", sans-serif;
  font-size: 18px;

} */

/* .page-main {
  background-image: url(img/background/promo.jpg);
  background-repeat: no-repeat;
} */

.subscribe {
  background-image: url("../img/background/subscribe.jpg");
}

.filter {
  background-image: url("../img/background/filter.jpg");
}
